.gallery-lab{
  @include flex-display(flex, column, space-evenly, 100%);

  @include media(tablet) {
    @include flex-display(flex, row, space-evenly, 100%);
    flex-wrap: wrap;
  }
  @include media(laptop) {

  }

  .gallery-lab__block{
    margin: 2em 0;
    @include media(tablet) {
      width: 45%;
    }
    .gallery-lab__block--img{
      max-width: 100%;
      height: auto;
    }
  }
}