.pages-header.english{
  width: 80%;
  .pages-header__block--h2{
    @include font-fam-size(2em, futura, 500, $white );
    text-align: center;
    @include media(laptop) {
      font-size: 2.2em;
    }

  }
  .pages-header__block--p{
    @include font-fam-size(1em, futura, 400, $white );
  }


}
.pages-header.farsi{
  width: 80%;
  .pages-header__block--h2{
    @include font-fam-size(3em, asli, 400, $white );
    text-align: center;


  }
  .pages-header__block--p{
    @include font-fam-size(1em, dovom, 400, $white );
    text-align: right;
  }


}



.gallery-lab{
  @include flex-display(flex, column, space-evenly, 100%);

  @include media(tablet) {
    @include flex-display(flex, row, space-evenly, 100%);
    flex-wrap: wrap;
  }
  @include media(laptop) {

  }

  .gallery-lab__block{
    margin: 2em 0;
    @include media(tablet) {
      width: 45%;
    }
    .gallery-lab__block--img{
      max-width: 100%;
      height: auto;
    }
  }
}
