.catalog-body{
  margin: auto;
  //max-width: 1700px;
  @include media(laptop) {
    padding-top: 5em;
    @include flex-display(flex, row-reverse, center, 100%);
    //border-bottom: 1px solid $hard-gray-l;

  }
  @include media(desktop) {
    //border: 1px solid $hard-gray ;


  }
}
.catalog-function{
  @include media(laptop) {
    @include flex-display(flex, column, flex-start, 100%);
    //padding:  0 2em;

  }
}
///////////CATALOG SIDE NAV for  DESKTOP  \\\\\\\\\\\\\\\\\\\

.desktop-sideGenre{
  display: none;
  @include media(laptop) {
    @include flex-display(flex, column, flex-start, 40%);
  }
}
.desktop-sideGenre-title.farsi{
  width:100%;
  padding: 3em 0 ;
  background: $bademjoon-new;
  h2{
    @include font-fam-size( 3em, asli, bold, $text-yellow-main);
    margin: auto;
    text-align:center;
  }
}

.desktop-sideGenre-title.english{
  width:100%;
  padding: 3em 0 ;
  background: $bademjoon-new;
  h2{
    @include font-fam-size( 3em, $main-font-2, 500, $text-yellow-main);
    margin: auto;
    text-align:center;
  }
}

.home-genres{
  height: 100%;

  @include flex-display(flex, row, space-around, 100%, center);
  flex-wrap:wrap;

  background-color: $bademjoon-new;

  .home-genre__item{
    @include flex-display(flex, column, space-evenly, 35%, center);
    //background-color:  $light-grey;

    //border: 1px solid $hard-gray-l;
    padding:8px;

    -webkit-transition: all .5s ;
    transition: all .5s ;

    &:hover{

      background-color: $light-grey;
    }
    .home-genre__item--img{
      max-width: 100%;
      height: auto;
    }


    .home-genres__item--title.english{
      @include font-fam-size( 1.3em, futura, 400, rgba($text-yellow-main,0.8));
      padding: .5em 0;
      width: 100%;
      text-align: center;

    }
    .home-genres__item--title.farsi{
      @include font-fam-size( 1.3em, dovom, 400, rgba($text-yellow-main,0.8));
      padding: .5em 0;
      width: 100%;
      text-align: center;

    }
  }
}









////////////CATALOG HEADER STYLES WITH TRANSLATION STYLES \\\\\\\\\\\\\\\\\\\

.catalog-header-farsi {
  position: relative;
  //background: url('./img/catalog-head.jpg') no-repeat center;

  background-size: cover;
  margin: auto;
  padding: 1em 0;
  @include media(iphone-5) {
    //padding: 2em 0;
  }

  @include media(tablet) {
    //padding: 4em 2em;
  }
  @include media(laptop) {
    //background-size: cover;
    //background: none;
   margin: 0;
    width: 100%;
  }
  @include flex-display(flex, column, center, 100%);
  .catalog-header__title {
    padding: 1em 0;
    margin-bottom: 1em;
    margin-top: 3em;
    @include media(tablet) {
      //margin:0;
      //margin: 3em auto;
    }
    @include media(laptop) {
      margin: 1em auto;
    }

    .catalog-header__title_info {

      text-align: center;
      @include font-fam-size(3em, asli, bold, $text-dark );
      padding: 0;
      margin: auto;
      @include media(tablet) {
        //padding: .6em 0;
        //font-size: 4em;
      }
      @include media(laptop) {

      }


    }
  }
}
.catalog-header-english {
  position: relative;
  //background: url('./img/catalog-head.jpg') no-repeat center;

  background-size: cover;
  margin: auto;
  padding: 1em 0;
  @include media(iphone-5) {
    //padding: 2em 0;
  }
  @include media(tablet) {
    //padding: 4em 2em;
    //padding: 2em 0;
  }
  @include media(laptop) {
    margin: 0;
    width: 100%;
  }
  .catalog-header__title {
    padding: 1em 0;
    margin-bottom: 1em;
    margin-top: 3em;
    @include media(tablet) {
      //margin: 3em auto;
    }
    @include media(laptop) {
      margin: 1em auto;
    }
    .catalog-header__title_info {
      text-align: center;
      @include font-fam-size(3em, futura, bold, $text-dark );
      margin: auto;
      @include media(tablet) {
        //padding: .6em 0;

        //font-size: 4em;
      }
      @include media(laptop) {

      }
    }
  }
}


.catalog-header__genres {
  //position: absolute;
  @include flex-display(flex, row, space-around, 100%);
  list-style: none;
  //top:6.5em;
  @include media(iphone-5) {
    //top:6em;
  }

  padding: 0;
  //margin-top: 2rem;
  @include media(tablet) {
    //top:16em;
    margin: auto;
    padding: 1em 0;
    width: 100%;
    justify-content: space-around;
  }
  @include media(laptop) {
    //top:12em;
    //left: 10%;
    width: 80%;
    //position: static;
    //margin: auto;
  }
  .catalog-header__genres_navigation {
    cursor: pointer;
    width: 25%;
    border: 1px solid #fabb00;
    border-radius: 2em;
    margin: 0 .3em;
    text-decoration: none;
    display: flex;
    color: #ffffff;
    background-color: #ffcc33;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#ffcc33),
      to(#cc9933)
    );
    transition: all 1s;
    background-image: -webkit-linear-gradient(top, #ffcc33, #cc9933);
    background-image: -moz-linear-gradient(top, #ffcc33, #cc9933);
    background-image: -ms-linear-gradient(top, #ffcc33, #cc9933);
    background-image: -o-linear-gradient(top, #ffcc33, #cc9933);
    background-image: linear-gradient(to bottom, #ffcc33, #cc9933);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFCC33, endColorstr=#CC9933);

    @include media(tablet) {
      height: 100%;
      margin: 0 1em;
    }
    @include media(laptop) {
      border-radius: 3em;
    }
  }
  .catalog-header__genres_navigation.active {
    width: 25%;
    border: 1px solid #fabb00;
    border-radius: 2em;
    //padding: 10px 0;
    margin: 0 .3em;
    text-decoration: none;
    display: flex;
    background-color: #ffcc33;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#ffcc33),
      to($active-color)
    );
    background-image: -webkit-linear-gradient(top, #ffcc33, $active-color);
    background-image: -moz-linear-gradient(top, #ffcc33, $active-color);
    background-image: -ms-linear-gradient(top, #ffcc33, $active-color);
    background-image: -o-linear-gradient(top, #ffcc33, $active-color);
    background-image: linear-gradient(to bottom, #ffcc33, $active-color);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFCC33, endColorstr=$active-color);
    transition: all 0.5s ease-in-out;
    @include media(tablet) {
      margin: 0 1em;
      height: 100%;
    }
    @include media(laptop) {
      border-radius: 3em;
    }
  }

  .catalog-header__genres_navigation--btn-farsi {
    transition: all 0.5s ease-in;
    @include font-fam-size(.7em, dovom-bold, bold, $text-dark);

    width: 100%;
    text-align: center;
    padding: .5em 0;
    @include media(iphone-5) {
      font-size: 1em;
    }
    @include media(tablet) {
      font-size: 1.2em;
    }
    @include media(laptop) {
      //font-size: 2em
    }
  }
  .catalog-header__genres_navigation--btn-farsi .active {

    padding: .5em 0;
    font-size: .8em;
    color: $hard-gray;
    @include media(iphone-5) {
      font-size: 1.1em;
    }

  }
  .catalog-header__genres_navigation--btn-english {
    transition: all 0.5s ease-in;
    @include font-fam-size(.7em, $main-font-2, 400, $text-dark);
    width: 100%;
    text-align: center;
    padding: .5em 0;
    @include media(iphone-5) {
      font-size: 1em;
    }
    @include media(tablet) {
      font-size: 1.2em;

    }
    @include media(laptop) {
      //font-size: 2em
    }
  }
  .catalog-header__genres_navigation--btn-english .active {

    font-size: .7;
    padding: .5em 0;
    color: $hard-gray;
    @include media(iphone-5) {
      font-size: 1.1em;
    }
  }
}

.group {
  @include flex-display(flex, row, space-between, 100%, center);
  flex-wrap: wrap;

  .gallery-wrapper {
    padding-top: 3em;
    @include flex-display(flex, column, space-evenly, 100%, center);
    @include media(laptop) {
      @include flex-display(flex, row, space-evenly, 100%, center);
      flex-wrap: wrap;

        margin: 4em 0;



    }


    .gallery-item {
      @include flex-display(flex, row, space-evenly, 100%);
      border-bottom: 1px solid $text-black-m;
      @include media(laptop) {
        @include flex-display(flex, column, space-evenly, 25%, center);

      }
      &:last-child {
        border-bottom: none;
        padding-bottom: 3em;
        @include media(laptop) {
          padding-bottom: 0;
          border-bottom: 1px solid $text-black-m;


        }

      }
      .gallery-item__img {
        //display: flex;
        width: 40%;
        margin: auto;
        @include media(laptop) {
          //display: flex;
          width: 100%;

        }
        img {
          max-width: 100%;
          height: auto;
          margin: auto;
        }
      }
    }


  }
}

////// IMAGE GALLERY PRODUCTS STYLE incuding LANG TRANSLATED STYLES

.gallery-item__title--fa {
  @include flex-display(flex, column, space-around, 50%, center);
  @include font-fam-size(1.1em, dovom, bold, $text-black-m);
  padding: 1em 0;

  @include media(tablet) {
    padding: 2.5em 0;
  }
  @include media(laptop) {
    font-size: .9em;
    width: 100%;
    padding: 4em 0;

  }

  .gallery-item__title_info--fa {
    @include font-fam-size(0.8em, dovom, bold, $text-black-m);
    margin: 2px;
    @include media(tablet) {
      font-size: 1em;
    }
    @include media(laptop) {
      //font-size: 2em
    }

    span {
      @include font-fam-size(1em, dovom, bold, $text-gray-m);

    }
  }
}
.gallery-item__title--en {
  @include flex-display(flex, column, space-around, 50%, center);
  @include font-fam-size(1.1em, $main-font-2, 400, $text-black-m);
  padding: 1em 0;

  @include media(tablet) {
    padding: 2.5em 0;
  }
  @include media(laptop) {
    font-size: .9em;
    width: 100%;
    padding: 3em 0;

  }
  .gallery-item__title_info--en {
    @include font-fam-size(.8em, $main-font-1, 600, $text-black-m);
    margin: .1em;
    @include media(tablet) {
      font-size: 1em;
    }
    @include media(laptop) {
      //font-size: 2em
    }
    span {
      @include font-fam-size(1em, $main-font-2, 400, $text-gray-m);

    }
  }
}

///////
.table_wrapper {
  @include flex-display(flex, column, space-between, 100%, center);
  padding: 1em 0;
  @include media(tablet) {
    margin: auto;

  }

  .aks_table {
    @include media(tablet) {
      margin: auto;
      width: 70%;
    }
    @include media(laptop) {
      margin: 1em 0;
      width: 50%;
    }

    .aks_preview {
      padding: 1em 0;
      max-width: 100%;
      height: auto;
      @include media(tablet) {
        margin: auto;

      }
    }
  }

  //tr:nth-child(even) {
  //  background-color: #cdcdcd;
  //}
  //tr:nth-child(odd) {
  //  background-color: #e6e6e6;
  //}

  table {
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
    @include media(laptop) {
      width: 50%;
    }

  }

}

//.stubborn{
//  width: 100%;
//}
.tg-english{


  th {
    @include font-fam-size(1em, $main-font-1, 400, $text-black-m);
    padding: .5em;
    text-align: center; // background-color: #f5f5f5;
    @include media(tablet) {
      //font-size: 1.6em;
    }
    @include media(laptop) {
      //font-size: 2em;
    }
  }
  td {
    @include font-fam-size(0.8em, $main-font-1, 400, $bademjoon-new);
    padding: .5em;
    text-align: center; // background-color: #f5f5f5;
    @include media(tablet) {
      //font-size: 1.6em;
    }
    @include media(laptop) {
      //font-size: 2em;
    }
  }



}
.tg-farsi{
  //@include media(tablet) {
  //width: 80%;
  //}
  th {
    @include font-fam-size(1em, dovom-bold, 400, $bademjoon-new);
    padding: .5em;
    text-align: center; // background-color: #f5f5f5;
    @include media(tablet) {
      //font-size: 1em;
    }
    @include media(laptop) {
      //font-size: 2em;
    }
  }
  td {
    @include font-fam-size(.8em, dovom, 400, $bademjoon-new);
    padding: .5em;
    text-align: center; // background-color: #f5f5f5;
    @include media(tablet) {
   //font-size: 1.6em;
    }
    @include media(laptop) {
      //font-size: 2em;
    }
  }
}


