.parallax-for-contactPage{
  //background: rgb(230,218,218);
  //background: linear-gradient(190deg, rgba(230,218,218,0.8029586834733894) 0%, rgba(39,64,70,0.7973564425770308) 48%);
  background: rgb(73,67,70);
  background: linear-gradient(355deg, rgba(73,67,70,0.7791491596638656) 63%, rgba(230,231,233,1) 100%);
  height: 70vh;
  @include media(iphone-plus) {
    //height: 50vh;
  }
  @include media(laptop) {
    //height: 90vh;
  }
}


.contact-us.farsi {
  @include flex-display(flex, column, space-between, 100%);

  text-align: center;
  @include media(tablet) {
    text-align: center;

  }

  @include media(laptop) {

  }
  .contact-us__block {
    margin: auto;
    @include flex-display(flex, column, space-between, 90%);
    .contact-us__block--h2 {
      margin: 0.7em 0;
      @include font-fam-size(4em, asli, bold, $white);

    }
    .contact-us__block--p {

      @include font-fam-size(2em, dovom, bold, $white);
    }
  }
}

.contact-us.english {
  @include flex-display(flex, column, space-between, 100%);

  text-align: left;
  @include media(tablet) {
    text-align: center;

  }

  @include media(laptop) {

  }
  .contact-us__block {
    float: left;
    @include flex-display(flex, column, space-between, 70%);
    @include media(tablet) {
 margin: auto;

    }

    @include media(laptop) {

    }
    .contact-us__block--h2 {
      margin: 0.7em 0;

      @include font-fam-size(4em, $main-font-2, bold, $white);
    }
    .contact-us__block--p {
      @include font-fam-size(1.8em, $main-font-1, bold, $white);
    }
  }
}
