///////////////Jumbo on the main-page \\\\\\\\\\\\\\\\

.intro{
  height: 100vh;
  background: $background-White url("./svg/main2.svg") no-repeat center  ;
  background-size: contain;
  display: flex;
  @include media(iphone-plus) {

  }
  @include media(laptop) {
    background: $background-White url("./svg/jakesh.svg") no-repeat center  ;

  }
}

.intro__block{
  margin: auto;
  @include flex-display(flex, column, center, 100%, center);
  background: transparent;
  position: relative;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%,-60%);
  //@include media(iphone-plus) {
  //  transform: translate(-50%,-70%);
  //}
  //@include media(laptop) {
  //  transform: translate(-50%,-60%);
  //}
  .intro__block--img {
    max-width: 100%;
    height: auto;
    width:100%;
  }
  .intro__block--h2.english {
   position: absolute;
    @include font-fam-size( 1.4em, $main-font-2, 400, $bademjoon-new);
    bottom: -2em;
    //@include media(iphone-plus) {
    //  font-size: 2em;
    //}
    @include media(laptop) {
      bottom: -1em;
      font-size: 3em;
    }
  }
  .intro__block--h2.farsi {
    position: absolute;
    @include font-fam-size( 1.4em, asli, bold, $bademjoon-new);
    bottom: -2em;
    @include media(laptop) {
      bottom: -1em;
      font-size: 3em;
    }
  }
  .image-head-slog {
    font-family: asli;
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    margin: 0;
  }
  .image-head-company {
    font-family: asli;
    font-size: 4em;
    color: #fff;
    text-decoration: none;
  }
}

//.parallax-my-custom-2{
//  height: 60vh;
//  @include media(iphone-plus) {
//  }
//  @include media(laptop) {
//    height: 80vh;
//  }
//}

.overlaySection.farsi{
  position: relative;
  @include flex-display(flex, column, space-evenly, 100%, center);

  .overlaySection__img{
    max-width: 100%;
    height: auto;

  }
  .overlaySection__card{
    background:transparent;
    //position: absolute;
    //bottom: 10%;
   padding: 1em 0;
    @include flex-display(flex, column, space-evenly, 90%, flex-end);
    text-align: right;
    @include media(iphone-plus) {
      width: 80%;
    }
    @include media(tablet) {
      width: 100%;
    }
    .overlaySection__card--title{
      @include font-fam-size( 2.3em, asli, bold, $purple-new );
      margin: 0 0 .5em 0 ;
      @include media(tablet) {
        font-size: 4em;
      }
      @include media(laptop) {
        font-size: 6em;
      }
    }
    .overlaySection__card--p{
      @include font-fam-size( 1em, dovom, bold, $dark);
      @include media(tablet) {
        font-size: 2em;
      }
      @include media(laptop) {
        font-size: 2em;
      }
    }
  }
}
.overlaySection.english{
  position: relative;
  @include flex-display(flex, column, space-evenly, 100%, center);

  .overlaySection__img{
    max-width: 100%;
    height: auto;
  }
  .overlaySection__card{
    background:transparent;
    //position: absolute;
    padding: 1em 0;
    @include media(iphone-plus) {
      width: 80%;
    }
    @include media(tablet) {
      width: 100%;
    }
    @include flex-display(flex, column, space-evenly, 90%, flex-start);
    text-align: left;
    @include media(iphone-plus) {
      //bottom: 20%;
    }
    .overlaySection__card--title{
      @include font-fam-size( 2.3em, $main-font-2, bold, $purple-new );
      margin: 0 0 .5em 0 ;
      @include media(tablet) {
        font-size: 4em;
      }
      @include media(laptop) {
        font-size: 6em;
      }
    }
    .overlaySection__card--p{
      @include font-fam-size( 1em, futura, bold, $dark );
      @include media(tablet) {
        font-size: 2em;
        font-weight: 400;
      }
      @include media(laptop) {
        font-size: 3em;
      }
    }
  }
}

//////////////////



.main {
  position: relative;
  width: 100%;
  margin: auto;
  background: $background-White url("./svg/triangle6.svg") no-repeat bottom  ;
  background-size: cover;
}
.mainCatalog {
  //background: none;
  position: relative;
}


.product-showcase__items{
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  @include flex-display(flex,
          column,
          space-between,
          100%,
          center);
  height: auto;
  //border-bottom: 1px solid $dark-purple-m;


  margin: 1em 0;
  @include media(tablet) {
    //width: 65%;
  }

  @include media(laptop) {
    padding-top: 3em;
  }
  &:last-child{
    border-bottom: none;
  }
  .product-showcase__linkBlock {
    @include flex-display(flex,
            row,
            space-between,
            100%,
            center);



    //position: relative;

    .product-showcase__linkBlock--image{
      transition: all .5s;
      max-width: 100%;
      height: auto;
    }
    .product-showcase__linkBlock__title{
      //position: absolute;
      //top: .5em;
      z-index: 0;
      transition: all .5s;

    }


  }


}

.product-showcase__items.farsi{
  .product-showcase__linkBlock{
    .product-showcase__linkBlock__title{
      width: 100%;

      h2{

        @include font-fam-size(1.3em, asli, 400, $bademjoon-new);
        //margin-bottom: 1em;
        text-align: center;
        @include media(tablet) {
          font-size: 1.3em;
        }
        @include media(laptop) {
          //font-size: .8em;
          margin-bottom: 1em;
        }
        @include media(desktop) {
          font-size: 1em;
        }
      }

      .product-showcase__linkBlock__title__block{
        @include flex-display(flex, column, center, 100%, center);
        @include media(tablet) {
          margin: auto;
          width: 60%;
        }
        @include media(laptop) {
          margin: auto;
          width: 80%;
        }

        @include media(tablet) {
          padding-bottom: 1em;
        }

        .title__block__row{
          @include flex-display(flex, row-reverse, space-evenly, 75%, center);
          .title__block__row--item{
            display: flex;
            margin-bottom: .3em;

          h3{
            @include font-fam-size(1em, dovom, 400, $light-grey);
            margin: 0;
            @include media(tablet) {
              font-size: .8em;
            }
            @include media(laptop) {
              font-size: .5em;
            }
            @include media(desktop) {


            }

          }
          .tick{
            margin: auto;
            position: relative;
            width: 15px;
            height: 15px;
            fill: #4357AD;
            //margin-top: .3em;
            @include media(tablet) {
              width: 25px;
              height: 25px;
            }

            @include media(laptop) {
              width: 30px;
              height: 30px;
              margin-top: .2em;
            }
            @include media(desktop) {
              width: 40px;
              height: 40px;
              margin-top: .2em;
            }
          }
          }
        }
      }
    }

  }
  .product-showcase__linkBlock.f-right{
    @include flex-display(flex,
            row,
            space-around,
            100%,
            center);
    @include media(laptop) {
      font-size: 2em;
    }
    @include media(desktop) {
      font-size: 4em;
    }
    .product-showcase__linkBlock__title__block--row{
      flex-direction: row-reverse;
    }
  }
  .product-showcase__linkBlock.f-left{
    @include flex-display(flex,
            row-reverse,
            space-around,
            100%,
            center);

    @include media(laptop) {
      font-size:2em;
    }
    @include media(desktop) {
      font-size: 4em;
    }
    .product-showcase__linkBlock__title__block--row{
      flex-direction: row;
    }
  }

}





.product-showcase__items.english{

  .product-showcase__linkBlock{
    .product-showcase__linkBlock__title{
      width: 100%;
      h2{
        @include font-fam-size(1.2em, Futura, 400, $bademjoon-new);
        text-align: center;
        @include media(tablet) {
          font-size: 1.5em;
        }
        @include media(laptop) {
          font-size: 3em;
          margin-bottom: 1em;
        }
      }
      //h3{
      //  @include font-fam-size(1em, Futura, 400, $dark-purple);
      //  text-align: center;
      //}
      .product-showcase__linkBlock__title__block{
        @include flex-display(flex, column, center, 100%, center);
        @include media(tablet) {
          margin: auto;
          width: 60%;
        }
        @include media(laptop) {
          margin: auto;
          width: 100%;
        }

          .title__block__row{
            padding-bottom: .5em;
            @include flex-display(flex, row, space-evenly, 45%, center);
            .title__bloc__row--item{
              display: flex;

            }
            h3{

              @include font-fam-size(.8em, Futura, 400,$hard-gray );
              margin: 0;
              @include media(tablet) {
                //font-size: 1.1em;
              }
              @include media(laptop) {
                font-size: 1.8em;
              }

            }
            .tick{
              margin: auto;
              position: relative;
              width: 15px;
              height: 15px;
              fill: $purple-new;

              @include media(tablet) {
                width: 25px;
                height: 25px;
              }

              @include media(laptop) {
                width: 40px;
                height: 40px;
                margin-top: .2em;
              }
          }
        }
      }
    }

  }
  .product-showcase__linkBlock.f-right{
    @include flex-display(flex,
            row,
            space-around,
            100%,
            center);
    //@include media(laptop) {
    //  font-size: 2em;
    //}
    //@include media(desktop) {
    //  font-size: 4em;
    //}
    .product-showcase__linkBlock__title__block--row{
      cursor: pointer;
        flex-direction: row-reverse;
    }
  }
  .product-showcase__linkBlock.f-left{
    @include flex-display(flex,
            row-reverse,
            space-around,
            100%,
            center);

    //@include media(laptop) {
    //  font-size:2em;
    //}
    //@include media(desktop) {
    //  font-size: 4em;
    //}
    .product-showcase__linkBlock__title__block--row{
      flex-direction: row;
    }
  }

}



.product-showcase {
  //background: $background-White url("./svg/triangle.svg") no-repeat center  ;
  //background-size: cover;

  @include flex-display(flex, column, flex-start, 100%, center);
  padding-top: 2em;
  & :nth-child(1) {
    //width: 100%;
    //@include media(tablet) {
    //  width: auto;
    //}
    order: 1;
  }
  & :nth-child(2) {
    order: 2;
  }
  & :nth-child(3) {
    order: 4;
  }
  & :nth-child(4) {
    order: 3;
  }
  & :nth-child(5) {
    order: 5;
  }
  & :nth-child(6) {
    order: 6;
  }
  & :nth-child(7) {
    order: 8;
  }
  & :nth-child(8) {
    order: 7;
  }

  @include media(tablet) {
    @include flex-display(flex, row, space-between, 100%, center);
    flex-wrap: wrap;

    & :nth-child(1) {
      order: 1;
    }
    & :nth-child(2) {
      order: 2;
    }
    & :nth-child(3) {
      order: 3;
    }
    & :nth-child(4) {
      order: 4;
    }
    & :nth-child(5) {
      order: 5;
    }
    & :nth-child(6) {
      order: 6;
    }
    & :nth-child(7) {
      order: 7;
    }
    & :nth-child(8) {
      order: 8;
    }
  }
  @include media(laptop) {
    & :nth-child(1) {
      order: 1;
    }
    & :nth-child(2) {
      order: 2;
    }
    & :nth-child(3) {
      order: 4;
    }
    & :nth-child(4) {
      order: 3;
    }
    & :nth-child(5) {
      order: 6;
    }
    & :nth-child(6) {
      order: 5;
    }
    & :nth-child(7) {
      order: 7;
    }
    & :nth-child(8) {
      order: 8;
    }

  }
}



