///////////////Jumbo on the main-page \\\\\\\\\\\\\\\\
.parallax-my-custom{
  //background: rgb(230,218,218);
  //background: linear-gradient(190deg, rgba(230,218,218,0.8029586834733894) 0%, rgba(39,64,70,0.7973564425770308) 48%);
  height: 100vh;
  @include media(iphone-plus) {
    //height: 50vh;
  }
  @include media(laptop) {
    //height: 90vh;
  }
}
.parallax-my-custom-2{
  //background: rgb(230,218,218);
  //background: linear-gradient(132deg, rgba(230,218,218,0.8029586834733894) 0%, rgba(39,64,70,0.7973564425770308) 0%);
  height: 60vh;
  @include media(iphone-plus) {
    //height: 50vh;
  }
  @include media(laptop) {
    height: 80vh;
  }
}


.intro {

  @include flex-display(flex, column, center, 100%, center);
  position: absolute;
  background: transparent;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-60%);
  @include media(iphone-plus) {
    transform: translate(-50%,-70%);
  }
  @include media(laptop) {
    transform: translate(-50%,-60%);
  }

  .intro__img {
    max-width: 100%;
    height: auto;
    width:100%;
  }
  .intro__h2.english {
   position: absolute;
    @include font-fam-size( 1.5em, $main-font-2, 400, $hard-gray);
    bottom: -1em;
    @include media(iphone-plus) {
      font-size: 2em;
    }
    @include media(laptop) {
      bottom: -1em;
      font-size: 4em;

    }
  }
  .intro__h2.farsi {
    position: absolute;
    @include font-fam-size( 2em, asli, bold, $hard-gray);
    bottom: -1em;
    @include media(laptop) {
      font-size: 4em;
    }
  }
  .image-head-slog {
    font-family: asli;
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    margin: 0;
  }
  .image-head-company {
    font-family: asli;
    font-size: 4em;
    color: #fff;
    text-decoration: none;
  }
}


.overlaySection.farsi{
  position: relative;
  @include flex-display(flex, column, space-evenly, 100%, center);

  .overlaySection__img{
    max-width: 100%;
    height: auto;
  }
  .overlaySection__card{
    background:transparent;
    position: absolute;
    //bottom: 10%;
   padding: 1em;
    @include flex-display(flex, column, space-evenly, 90%, flex-end);
    text-align: right;
    @include media(iphone-plus) {
      width: 80%;
    }
    @include media(tablet) {
      width: 60%;
    }
    .overlaySection__card--title{
      @include font-fam-size( 2.3em, asli, bold, $text-yellow-main );
      margin: 0 0 .5em 0 ;
      @include media(tablet) {
        font-size: 4em;
      }
      @include media(laptop) {
        font-size: 6em;
      }
    }
    .overlaySection__card--p{
      @include font-fam-size( 1em, dovom, bold, $hard-gray);
      @include media(tablet) {
        font-size: 2em;
      }
      @include media(laptop) {
        font-size: 3em;
      }
    }
  }
}
.overlaySection.english{
  position: relative;
  @include flex-display(flex, column, space-evenly, 100%, center);

  .overlaySection__img{
    max-width: 100%;
    height: auto;
  }
  .overlaySection__card{
    background:transparent;
    position: absolute;
    padding: 1em;
    @include media(iphone-plus) {
      width: 80%;
    }
    @include media(tablet) {
      width: 60%;
    }
    @include flex-display(flex, column, space-evenly, 90%, flex-start);
    text-align: left;
    @include media(iphone-plus) {
      //bottom: 20%;
    }
    .overlaySection__card--title{
      @include font-fam-size( 2.3em, $main-font-2, bold, $text-yellow-main );
      margin: 0 0 .5em 0 ;
      @include media(tablet) {
        font-size: 4em;
      }
      @include media(laptop) {
        font-size: 6em;
      }
    }
    .overlaySection__card--p{
      @include font-fam-size( 1em, $main-font-2, bold, $hard-gray );
      @include media(tablet) {
        font-size: 2em;
        font-weight: 400;
      }
      @include media(laptop) {
        font-size: 3em;
      }
    }
  }
}

//////////////////



.main {
  width: 100%;
  margin: auto;
  background: $background-White;

  //@include flex-display(flex,
  //        column,
  //        flex-start,
  //        100%,
  //        center);

}


.product-showcase__items{
  @include flex-display(flex,
          column,
          space-between,
          100%,
          center);
  height: auto;
  .product-showcase__linkBlock {
    //width: 100%;

    position: relative;

    .product-showcase__linkBlock--image{
      transition: all .5s;
      max-width: 100%;
      height: auto;
    }
    .product-showcase__linkBlock--title{
      position: absolute;
      top: .5em;
      z-index: 0;
      transition: all .5s;

    }
    .product-showcase__linkBlock--title.f-right{
      left: 2em;
    }
    .product-showcase__linkBlock--title.f-left{
      right: 2em;

    }

  }
  @include media(tablet) {
    width: 50%;
  }

  @include media(laptop) {
    width: 25%;
  }

}
.product-showcase__items.farsi{
  .product-showcase__linkBlock{

    &:hover{
      //background: rgb(230,218,218);
      //background-color: rgba(39,64,70,0.8);

      .product-showcase__linkBlock--image{
        //opacity: 0.4;
      }


      .product-showcase__linkBlock--title.f-right{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        span{
          margin: auto;
        }
        @include media(laptop) {
          font-size: 2em;
        }
        @include media(desktop) {
          font-size: 4em;
        }
      }
      .product-showcase__linkBlock--title.f-left{

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        span{
          margin: auto;
        }
        @include media(laptop) {
          font-size:2em;
        }
        @include media(desktop) {
          font-size: 4em;
        }
      }
    }

    }
    .product-showcase__linkBlock--title{
      transition: all 1s;
      @include font-fam-size(1.5em, asli, 400, $text-yellow-main);
      @include media(iphone-plus) {
        font-size: 2em;
      }
      @include media(laptop) {
        font-size: 1.3em;
      }
      @include media(desktop) {
        font-size: 2em;
      }

    }
  }



.product-showcase__items.english{
  .product-showcase__linkBlock{

    &:hover{
      //background: rgb(230,218,218);
      //background-color: rgba(39,64,70,0.8);

      .product-showcase__linkBlock--image{
        //opacity: 0.4;
      }


      .product-showcase__linkBlock--title.f-right{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
       display: flex;
      span{
        margin: auto;
      }
        @include media(laptop) {
          font-size: 2em;
        }
        @include media(desktop) {
          font-size: 4em;
        }
      }
      .product-showcase__linkBlock--title.f-left{

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        span{
          margin: auto;
        }
        @include media(laptop) {
          font-size:2em;
        }
        @include media(desktop) {
          font-size: 4em;
        }
      }
    }
    .product-showcase__linkBlock--title{
      @include font-fam-size(1.6em, $main-font-2, 400, $text-yellow-main);
      @include media(iphone-plus) {
        font-size: 2em;
      }
      @include media(laptop) {
        font-size: 1.3em;

      }
      @include media(desktop) {
        font-size: 2em;
      }

    }
  }


}
.product-showcase {


  @include flex-display(flex, column, flex-start, 100%, center);
  & :nth-child(1) {
    //width: 100%;
    //@include media(tablet) {
    //  width: auto;
    //}
    order: 1;
  }
  & :nth-child(2) {
    order: 2;
  }
  & :nth-child(3) {
    order: 4;
  }
  & :nth-child(4) {
    order: 3;
  }
  & :nth-child(5) {
    order: 5;
  }
  & :nth-child(6) {
    order: 6;
  }
  & :nth-child(7) {
    order: 8;
  }
  & :nth-child(8) {
    order: 7;
  }

  @include media(tablet) {
    @include flex-display(flex, row, space-between, 100%, center);
    flex-wrap: wrap;

    & :nth-child(1) {
      order: 1;
    }
    & :nth-child(2) {
      order: 2;
    }
    & :nth-child(3) {
      order: 3;
    }
    & :nth-child(4) {
      order: 4;
    }
    & :nth-child(5) {
      order: 5;
    }
    & :nth-child(6) {
      order: 6;
    }
    & :nth-child(7) {
      order: 7;
    }
    & :nth-child(8) {
      order: 8;
    }
  }
  @include media(laptop) {
    & :nth-child(1) {
      order: 1;
    }
    & :nth-child(2) {
      order: 2;
    }
    & :nth-child(3) {
      order: 4;
    }
    & :nth-child(4) {
      order: 3;
    }
    & :nth-child(5) {
      order: 6;
    }
    & :nth-child(6) {
      order: 5;
    }
    & :nth-child(7) {
      order: 7;
    }
    & :nth-child(8) {
      order: 8;
    }

  }
}



