//@font-face {
//    font-family: asli;
//    src: url(./fonts/titr.ttf);
//}

//@font-face {
//    font-family: dovom;
//    src: url(./fonts/Parastoo-WOL.ttf);
//}
//@font-face {
//    font-family: dovom-bold;
//    src: url(./fonts/Parastoo-Bold-FD-WOL.ttf);
//}

@font-face {
    font-family: Futura;
    src: url(./fonts/en/FuturaPTBook.otf);
}


@font-face {
    font-family: dovom;
    src: url('fonts/yekan/iranyekanwebregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: dovom-bold;
    src: url('fonts/yekan/iranyekanwebbold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* END Bold */
/* BEGIN Regular */
@font-face {
    font-family: asli;
    src: url('fonts/yekan/iranyekanwebbold.ttf') format('truetype'),
    url('fonts/yekan/iranyekanwebregular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}








