@font-face {
    font-family: asli;
    //src: url(../fonts/AAmine.ttf);
    //src: url(../fonts/Vazir-WOL.ttf);
    //src: url(../fonts/2-NAZANIN.ttf);
    //src: url(../fonts/Karbalaei.ttf);
    //src: url(../fonts/Parastoo-Bold-FD-WOL.ttf);
    //src: url(../fonts/Parastoo-WOL.ttf);
    src: url(./fonts/titr.ttf);


}

@font-face {
    font-family: dovom;
    src: url(./fonts/Parastoo-WOL.ttf);
}
@font-face {
    font-family: dovom-bold;
    src: url(./fonts/Parastoo-Bold-FD-WOL.ttf);
}
@font-face {
    font-family: Futura;
    src: url(./fonts/en/FuturaPTBook.otf);
}




//.image-head {
//    font-family: asli;
//    font-size: 2em;
//    color: $text-yellow-main;
//    text-decoration: none;
//    z-index: 2;
//}







