a:hover,
a:focus {
    color: none;
    text-decoration: none;
}

.App{
    background-color: $background-White;
}

///// Gooqle maps styles
/* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
#map {
    height: 50vh;
}
//.main{
//
//    //svg{
//    //    position: absolute;
//    //    width: 100%;
//    //    height: 36%;
//    //}
//    }





.admin-form{
    padding-top:6em;
}

.backDrop-invisible{
 display:none;

}
.backDrop-visible{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left:0;
    z-index: 2;
}





.is-visible {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -webkit-transition: all .3s ease-out;
}

.is-hidden {
    opacity: 0;
    -webkit-transform: translate(0, -60px);
    -webkit-transition: all .3s ease-out;
}




.example-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.example-enter.example-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all .5s ease-out;
}

.example-leave {
    transform: translateX(0);
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transform: translateX(100%);

    transition: all 0.5s ease-in;
}
.my-node-enter {
    opacity: 0;
}
.my-node-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.my-node-exit {
    opacity: 1;
}
.my-node-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}

.catalogs-appear{
    opacity: 0;
    z-index: 1;
}
.catalogs-appear.fade-appear-active{
    opacity: 1;
    transition: opacity 1000ms linear;
}

.catalogs-enter {
    opacity: 0;
    z-index: 1;
}
.catalogs-enter-active {
    opacity: 1;
    transition: opacity 1000ms linear;
}
.catalogs-exit {
    opacity: 1;
}
.catalogs-exit-active {
    opacity: 0;
    transition: opacity 5000ms linear;
}
.catalogs-exit-done {
    opacity: 0;
}


.slide-enter {
    opacity: 0.01;
}

.slide-enter.slide-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.slide-leave {
    opacity: 1;
}

.slide-leave.slide-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
//.page {
//    position: absolute;
//    left: 15px;
//    right: 15px;
//}

.page-enter {
    opacity: 0;
    transform: scale(1.1);
}

.page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
}

.page-exit {
    opacity: 0;
    transform: scale(1);
}

.page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

